:root {
  --thick-border: 2px solid #999;
}

html,
body {
  margin: 0;
  font-size: min(2vw, 1.7vh);
  font-family: 'Montserrat', sans-serif;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 45rem;
  margin: 0 auto;
}

header {
  button {
    border: 1px solid #ccc;
    margin: 2px;
    border-radius: 1.4rem;
  }
  button:hover,
  .active {
    background: #0a0;
    color: white;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 5rem);
  grid-template-rows: repeat(9, 5rem);
  max-width: 100%;
  margin: 0 auto;
  width: 45rem;
}

.number-select {
  width: 45rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  gap: 0.32rem;

  &__btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem 1.7rem;
    font-size: 2rem;

    &.active {
      background: #0a0;
      color: #fff;
    }
  }
}

.cell {
  border: 1px solid #eee;
  padding: 1.2rem 1rem;
  cursor: pointer;

  .value {
    font-size: 1.6rem;
    padding: 1rem;
  }

  &:nth-child(3n) {
    border-right: var(--thick-border);
  }

  &.active {
    color: #080;
    border: 2px solid #080;
    font-weight: bold;
    font-size: 1.2em;
    background: #efe;
  }

  .candidates {
    color: rgb(5, 80, 192);
    font-size: 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand SC', cursive;

    span {
      flex-basis: 33%;
    }
  }
}

.r-1 {
  border-top: var(--thick-border);
}

.c-1 {
  border-left: var(--thick-border);
}

.r-3,
.r-6,
.r-9 {
  border-bottom: var(--thick-border);
}

@for $i from 1 through 9 {
  .r-#{$i} {
    grid-row: #{$i};
  }
  .c-#{$i} {
    grid-column: #{$i};
  }
}
