:root {
  --thick-border: 2px solid #999;
  --c-primary: #0a0;
  --c-primary-dark: #008800;
  --c-primary-light: rgb(195, 250, 195);
  --c-secondary: rgb(0, 49, 139);
  --c-danger: #aa2600;
}

html,
body {
  margin: 0;
  font-size: min(2vw, 1.7vh);
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(rgb(227, 250, 237), transparent),
    linear-gradient(to top left, rgb(248, 248, 218), transparent),
    linear-gradient(to top right, rgb(240, 222, 250), transparent);
  background-blend-mode: screen;
  min-height: 100vh;
}

body {
  display: flex;
}

#root {
  margin: auto;
}

button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  background: rgba(233, 233, 233, 0.1);
}

.App {
  text-align: center;
}

.logo span {
  color: var(--c-primary);

  &:first-child {
    color: var(--c-primary-dark);
  }

  &:last-child {
    color: var(--c-secondary);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 45rem;
  margin: 0 auto;
}

header {
  button {
    border: 1px solid #ccc;
    margin: 2px;
    border-radius: 1.4rem;
    font-size: 1.2rem;
    padding: 0.8rem 1.2rem;
  }

  button:hover,
  .active {
    background: var(--c-primary);
    color: white;

    &.remove {
      background: var(--c-danger);
    }

    &.calculate {
      background: var(--c-secondary);
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 5rem);
  grid-template-rows: repeat(9, 5rem);
  max-width: 100%;
  margin: 0 auto;
  width: 45rem;
}

.number-select {
  width: 45rem;
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  &__btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 1rem 1.7rem;
    font-size: 2rem;

    &.active {
      background: var(--c-primary);
      color: #fff;
    }
  }
}

.cell {
  border: 1px solid #eee;
  cursor: pointer;
  display: flex;

  .value {
    font-size: 1.6rem;
    margin: auto;
  }

  &:nth-child(3n) {
    border-right: var(--thick-border);
  }

  &.active {
    color: var(--c-primary-dark);
    font-weight: bold;
    font-size: 1.2em;
    background: var(--c-primary-light);
    border: 1px solid #ddd;
    box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
  }

  .candidates {
    color: var(--c-secondary);
    font-size: 1.2rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand SC', cursive;

    span {
      flex-basis: 33%;
    }
  }
}

.r-1 {
  border-top: var(--thick-border);
}

.c-1 {
  border-left: var(--thick-border);
}

.r-3,
.r-6,
.r-9 {
  border-bottom: var(--thick-border);
}

@for $i from 1 through 9 {
  .r-#{$i} {
    grid-row: #{$i};
  }
  .c-#{$i} {
    grid-column: #{$i};
  }
}
